<html>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jaqueta de couro</td>
                    <td>Jaqueta de couro para motoqueiro</td>
                    <td>450</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Luva de couro</td>
                    <td>Luva de couro para motoqueiro</td>
                    <td>65</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>